body {
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:contain;
  background-position: center top;
  }
html {
  text-align: center;}
h1 {
  font-size: 40px;
  background-color: #89FFD8;
  width: 25%;
  margin: auto;
  margin-top: 0%;
  border: 3px solid;
  border-color: gray;
  border-radius: 4px;
  font-family: Georgia, serif;
  position:fixed;}
p {
  text-align:center;
  margin: auto;
  width: 80%;
  background-color:#F9F3F8;
  font-family:Georgia, serif;}
#hoved {
    background-color:#F9F3F8;
    column-count: 2;
    width: 80%;
    margin: auto;
    text-align: center;
}
#thicc{
  height: auto;
  width: 30%;
  margin-top:5%;
  margin-bottom: 5%;
  transition-duration: 0.3s;
}
#thicc:hover{
    width: 40%;
    margin-bottom:3.4%;
    margin-top:0%;
    opacity:0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#thicc:visited{
    opacity:0;
}