p.inline{
    display:block;
    background-color:burlywood;
}
h1{
    background-color:salmon;
    text-align:center;
    text-shadow: -2px -2px 5px blue;
}

body{
    background-image:linear-gradient(purple,blue);
}
.wrapper {
    width:50vw;
    background-color:burlywood;
    margin: auto;
    padding: 1em 2em;
    padding-bottom:30em;
}